@page
@model Biblioteka.Pages.Authors.DetailsModel

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Description)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Author.Books.Take(5).Any())
    {
        <ol>
            @foreach (var item in Model.Author.Books.Take(5))
            {
                <li>
                    <a class="btn btn-outline-secondary m-1" asp-page="/Books/Details" asp-route-id="@item.BookId">@item.Title</a>
                </li>
            }
        </ol>
    }

</div>
<div>
    @if (User.IsInRole("Admin"))
    {        
        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@Model.Author?.AuthorId">Edytuj</a> 
        <a class="btn btn-outline-primary" asp-page="/Library/MainPage">Wróć do Listy</a>

    }
    <a class="btn btn-outline-primary" asp-page="/Index">Wróć na stronę główną</a>

</div>
